@import url(/shared/styles/base.css);
@import url(/shared/components/custom-list.css);
@import url(/shared/components/custom-list-item.css);
@import url(/shared/components/article-list-item.css);

a.back {
  display: none;
  padding-top: 2em;
}

@media (max-width: 710px) {
  main {
    display: none;
  }

  body.feed-selected nav {
    display: none;
  }

  body.feed-selected main {
    display: block;
  }

  a.back {
    display: block;
  }
}
